<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>com.southeast.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>clear</servlet-name>
        <servlet-class>com.southeast.servlet.ClearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clear</servlet-name>
        <url-pattern>/clear</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>com.southeast.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>clearCart</servlet-name>
        <servlet-class>com.southeast.servlet.ClearCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clearCart</servlet-name>
        <url-pattern>/clearCart</url-pattern>
    </servlet-mapping>
</web-app>